// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.error{
    color: #ff0000;
    font-size: 10px;
}

ion-app.md [padding] {
    padding: 0px;
    background-image: url('../assets/imgs/cover6.png');
    background-size: cover;
}



.item-md ion-thumbnail img {
    width: 90px;
    height: 120px;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.button-small-md {
    height: 2.1em;
    font-size: 1.3rem;
    padding: 0 0.9em;
    display: block;
    margin: auto;
}

ion-img img {

    object-fit: contain;
  }

.imagem {
    //style="width: 200px; height: 285px; object-fit: contain; object-position: center" 
    //margin-left: auto;
    //margin-right: auto; 
      
    margin: auto;
    display: block;
    background-image: url('../assets/imgs/addimage.png'); 
}

.toolbar-title-md {
    color: #222;
    font-family: inherit;
    font-size: x-large;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 20px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #ffffff;
    background-color: #444444;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .toolbar-title-md {
    color: #222;
    font-family: inherit;
    font-size: x-large;
  }

  .list-options{
    color: #222222;
    width: 150%;
    margin-right: 5px;
    right: 15px;
}

.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #868585;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
    border-radius: 10px;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #fbfbfb;
    opacity: 1;
  }